
      <div class="powr-social-media-icons" id="shopify-section-social-media-icons-{{ section.id }}"></div>
      {% schema %}
        {
          "name": "Social Media Icons",
          "settings": [
            {
              "type": "header",
              "content": "Edit",
              "info": "Manage Plugins on [POWr.io](https://powr.io)"
            },
            {
              "type": "paragraph",
              "content": "Click Edit Me in Preview to Edit Social Media Icons."
            },
            {
              "type": "paragraph",
              "content": "[Need Help?](https://powr.io/knowledge-base)"
            }
          ],
          "presets": [
            {
              "name": "Social Media Icons",
              "category": "POWr Plugins"
            }
          ]
        }
      {% endschema %}
      